/* Copyright 2014 Andy Wingo
   Copyright 2004 Jakub 'jimmac' Steiner
   GNU GPLv3+.  See http://www.gnu.org/licenses/.
 */


img { border: 0px; }

a:link { color: hsl(37, 100%, 59%); }
a:visited { color: hsl(33, 100%, 45%); }
a:hover { color: hsl(37, 100%, 74%); }
a { text-decoration: none; }

body {
    font-family: Georgia, "Bitstream Vera Sans", sans-serif;
    font-size: 13pt;
    color: hsl(60, 6%, 93%);
    background: hsl(195, 8%, 20%);
    margin: 20px;
    text-align: center;
}

h1 {
    display: inline;
    font-size: 14pt;
    margin-top: 0;
    text-transform: lowercase;
}

#colophon {
    text-align: center;
    font-size: 10pt;
    margin-top: 1em;
    color: hsl(60, 6%, 70%);
}

#content {
/*    position: relative; */
}

@media screen {
    body { margin-bottom: 100px; }
    #navigation {
        position: fixed;
        z-index: 1;
        left: 0; bottom: 0; right: 0;
        margin: 0;
        border: 0;
        padding: 20px;
        text-align: left;
        background: hsl(195, 8%, 20%);
        background: hsla(195, 8%, 20%, 0.8);
        background: linear-gradient(to bottom,
                                    hsla(195, 8%, 20%, 0) 0%,
                                    hsla(195, 8%, 20%, 0.8) 30%,
                                    hsla(195, 8%, 20%, 0.9) 50%);
    }
    h1 { padding: 0; margin: 0 }
}

@media screen and (min-width: 500px) {
    #colophon {
        position: fixed;
        z-index: 1;
        right: 0; bottom: 0;
        padding: 20px;
        color: hsl(60, 6%, 50%);
        transition: color ease-out 0.5s;
    }
    #colophon:hover {
        color: hsl(60, 6%, 93%);
    }
}

div.thumbroll {
   margin: 10px 0px 4px 0px;
   min-height: 29px;
}

div.thumbroll img {
	border: 1px solid #6b6c69;
	-moz-border-radius: 3px; 
	Filter: Gray; /* IE only */
}

div.thumbroll a:hover img {
	border: 1px solid #ffb02f;
	Filter: none;
}

p {
	clear: both;
}

div.footer {
   font-size: 11px;
   width: 100%;
   margin-top: 20px;
   padding: 5px 5px 20px 5px;
   clear: both;
   border-top: 1px dotted #6b6c69;
	 color: #6b6c69;
}

div#image {
   /* width: 800px; */
   display: block;
   position: relative;
   clear: both;
}

img#preview {
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   height: auto;
}

div.prevthumb {
    float: left;
    width: 100px;
    font-size: 10px;
    text-align: right;
    opacity: .7;
}

div.nextthumb {
    float: right;
    width: 100px;
    font-size: 10px;
    text-align: left;
    opacity: .7;
}

div.nextthumb img, div.prevthumb img {
	margin: 1px;
	border: 1px solid #6b6c69;
  -moz-border-radius: 3px; 
}

div.prevthumb a {
	display: block;
  text-decoration: none;
	background: transparent url('left-inactive.png') bottom left no-repeat;
	padding: 2px;
}

div.nextthumb a {
	display: block;
  text-decoration: none;
	background: transparent url('right-inactive.png') bottom right no-repeat;
	padding: 2px;
}

div.prevthumb a:hover {
	background: transparent url('left.png') bottom left no-repeat;
}

div.nextthumb a:hover {
	background: transparent url('right.png') bottom right no-repeat;
}

div.nextthumb a img,div.prevthumb a img {
	Filter: Gray; /* IE - I wish we had that in gecko */
}

div.nextthumb a:hover img,div.prevthumb a:hover img {
	border: 2px solid #ffb02f;
	margin: 0px;
	Filter: none;
}

.exif {
	color: #555;
	margin: 20px auto 30px auto;
	font-size: 8pt;
	width: auto;
	text-align: center;
}

.exif tr td:first-child {
	color: #babdb6;
}

.exif td + td {
	text-align: left;
}

.exif span {
	cursor: help;
	border-bottom: 1px dotted #6b6c69;
}

.exif a {
   color: #9f4000;
}

div#mqhq {
   margin: 10px 2px 4px 0px;
   height: 32px;
}

div#mqhq a {
   display: block;
   border: 2px solid #6b6c69;
   padding: 2px;
   font-size: 10px;
   background-color: #ffb02f;
   color: black;
   float: left;
   width: 48px;
   text-align: center;
   margin: 2px;
   -moz-border-radius: 3px; 
}

div#mqhq a:hover {
   background-color: #2e3436;
   border: 2px solid #ffb02f;
   color: #ffb02f;
}
